@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["TituloPrincipal"];
}

<div class="text-justify container">

    <div class="container-body ">


        @*    <div class=" in-flex">
        <img class="img-yo rounded" src="/img/Yo.jpg">
        </div>*@

        <section class="about ">
            <div class="main">
                <div class="about-text">
                    <h3>@localizer["Saludo"]</h3>
                    <h1>{Ulises <span>Martínez</span>}</h1>
                    <h3><span>@localizer["Estudiante"]</span> @localizer["Carrera"]</h3>
                    <p>@localizer["Presentacion"]</p>
                    <p>@localizer["Frase"]</p>

                    <div class="contacto">
                        <form>
                            <a class="btn btn-primer-contacto" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">
                                <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
                            </a>

                            <a class="btn btn-primer-contacto" target="_blank" href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/" data-toggle="tooltip" data-placement="top" title="Linkedin">

                                <i class="bi-linkedin" role="img" aria-label="Linkedin"></i> Linkedin
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

