@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["TituloPrincipal"];
}

<div class="text-justify ">

    <div class="content container-body">


        <div class="content">
            <img class="img-yo rounded" src="/img/Yo.jpg">
        </div>

        <aside>
            <h4>@localizer["Saludo"]</h4>
            <h1>{Ulises <span>Martínez</span>}</h1>
            <h3><span>@localizer["Estudiante"]</span> @localizer["Carrera"]</h3>
            <p>@localizer["Presentacion"]</p>
            <h6>@localizer["Frase"]</h6>

            <div class="contacto">
                <div class="contacto">
                    <form>
                        <a class="btn" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
                        </a>

                        <a class="btn" target="_blank" href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="bi-linkedin" role="img" aria-label="Linkedin"></i> Linkedin
                        </a>

                    </form>
                </div>

            </div>


        </aside>
        
    </div>




</div>

