@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["TituloSobreMi"];
}

<div class="text-justify">
    <div class="container-body">
        <h1><span>@localizer["TituloLetra"]</span>@localizer["TituloPag"]</h1>

        <section class="about">
            <div class="main">
                <div class="about-text">

                    <h5>
                        @localizer["Estudiante"]<span> @localizer["Desarrollador"]</span></h5>
                    <p>
                       
                        @localizer["1eraPresentacion"]
                    </p>
                    <p>
                        @localizer["2daPresentacion"]<a class="Enlace_proyect" asp-controller="Portafolio" asp-action="Proyectos"><span> @localizer["Proyectos"]</span></a>.
                    </p>

                    <h5>{@localizer["habilidad1"]<span>@localizer["habilidad2"]</span>@localizer["habilidad3"]}</h5>

                    <p>
                        @localizer["tecnologíasFavoritas"]
                    </p>

                    <div class="Service">

                        <img src="/img/Angular_full_color_logo.svg.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/ionic logo blue.svg" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/c.svg" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/NET_Core_Logo.svg.png" class="img-fluid Habilidades" alt="Responsive image">
                        <img src="/img/sql-server.svg" class="img-fluid Habilidades " alt="Responsive image">
                        <img src="/img/mongodb-icon-1.svg" class="img-fluid Habilidades" alt="Responsive image">
                    </div>

                    <h5>{@localizer["contacto1"]<span>@localizer["contacto2"]</span>@localizer["contacto3"]}</h5>

                    <p>
                        @localizer["contactame"]
                    </p>

                    <div class="contacto">
                        <div class="contacto">
                            <form>
                                <a class="btn" style="margin-right:1.2rem;" target="_blank" href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top" title="GitHub">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
                                </a>

                                <a class="btn" target="_blank" href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi-linkedin" role="img" aria-label="Linkedin"></i> Linkedin
                                </a>

                                <a class="btn" target="_blank" href="https://www.instagram.com/ulises_fc/" data-toggle="tooltip" data-placement="top" title="Instagram">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="bi bi-instagram" role="img" aria-label="Instagram"></i> Instagram
                                </a>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>

</div>


